html {font-family:Verdana, Geneva, Tahoma, sans-serif;}


.sha501 { background-color: orangered;
padding: 2%;
color: white;}



.sha521 {background-color: teal;
    padding: 2%;
    color: white;}


    .sha561 {background-color: yellow;
    padding: 2%;}



    .sha571 {background-color: gray;
    padding: 2%;}